<div class="gradient2 grid lg:grid-cols-2 xl:grid-cols-2">
  <div class="sm:hidden md:hidden lg:grid xl:grid image rounded-lg mx-2 my-2">
    <div class="flex flex-col justify-center rounded-lg items-center gradient">
      <img src="assets/logo-op2.png" alt="logo" class="w-auto h-1/2 mb-5" />
      <h1 class="text-4xl font-bold text-gray-800">Food Stock</h1>
      <h2 class="text-2xl font-semibold text-gray-800">
        Sistema de Inventario de Alimentos
      </h2>
    </div>
  </div>
  <div class="flex flex-col justify-center rounded-lg items-center h-screen">
    <h1 class="text-4xl font-bold text-gray-800 my-10">Hola de Nuevo!</h1>
    <h2 class="text-xl font-semibold text-gray-800">
      Bienvenido inicia sesion para continuar
    </h2>
    <form
      class="flex flex-col items-center justify-center bg-transparent my-5 w-80"
      [formGroup]="form"
      (ngSubmit)="loginForm()"
    >
      <app-input
        placeholder="E-mail"
        type="email"
        [control]="form.get('userName')"
        [required]="true"
        [error]="form.get('userName').invalid && form.get('userName').touched"
        color="bg-slate-200/50"
      />
      <div class="items-start">
        <app-input
          placeholder="Contraseña"
          type="password"
          [control]="form.get('password')"
          [required]="true"
          [error]="form.get('password').invalid && form.get('password').touched"
        />
        <div *ngIf="form.get('password').errors && form.get('password').dirty">
          <p
            class="text-xs font-thin text-start text-red-500"
            *ngIf="form.get('password').hasError('minlength')"
          >
            Minimo 6 Caracteres
          </p>
        </div>
      </div>
      <a
        [routerLink]="['/forgotPassword']"
        class="ml-36 text-xs font-semibold underline mx-2"
        >Olvido su contraseña</a
      >
      <app-button class="my-5" [disabled]="form.invalid" [border]="'large'">
        Inicie Sesion
        <span class="material-icons mx-0.5">login</span></app-button
      >
    </form>
  </div>
</div>
