.tabs{
    @apply
    flex flex-row 
    justify-center 
    items-center 
    mx-20 
    bg-transparent 
    w-1/4 
    h-auto
}
.tabClick{
    @apply
    border-b-4
    border-sky-500
}

.tabNoClick{
    @apply
    border-b-2
    border-gray-500
}

.tableUsers{
    @apply
    w-auto 
    mx-auto 
    max-h-96 
    overflow-y-auto 
    sm:mx-auto 
    sm:max-w-lg 
    sm:overflow-x-auto 
    md:mx-auto 
    md:w-96
    md:max-w-md 
    md:overflow-x-auto 
    lg:mx-auto
    lg:w-[782px]
    lg:max-w-3xl
    xl:w-[786px] 
    xl:max-w-3xl 
    xl:mx-auto
}

.dialogUsers{
    @apply
    flex 
    sm:flex-col 
    sm:items-center 
    md:flex-col 
    md:items-center 
    lg:flex-row 
    lg:space-x-1 
    xl:flex-row 
    xl:space-x-1
}
.dialogUsers2{
    @apply
    flex 
    sm:flex-col 
    sm:items-center 
    md:flex-col 
    md:items-center 
    lg:flex-row 
    lg:space-x-2 
    xl:flex-row 
    xl:space-x-2
}