<div class="mx-20 my-5">
  <h3 class="font-thin text-2xl text-gray-800">Gestion de Usuarios</h3>
  <div
    class="flex flex-row justify-between items-center mx-5 mb-5 sm:mx-5 md:mx-32 lg:mx-48 xl:mx-64"
  >
    <p class="text-center">Total de Usuarios: {{ totalData }}</p>
    <app-button (click)="clickAdd()" color="bg-stone-200/50" [border]="'full'">
      <span class="material-icons text-sky-500"> person_add </span>
    </app-button>
  </div>

  <div class="tableUsers">
    <app-table [options]="tableOptions" [data]="listUsers">
      <ng-template appTableRow="created_at" let-row>
        <p>{{ row.created_at | date }}</p>
      </ng-template>
      <ng-template appTableRow="permission" let-row>
        <p>{{ permissionNames(row.permission) }}</p>
      </ng-template>
    </app-table>

    <form [formGroup]="createUser" (ngSubmit)="register()">
      <app-dialog
        *ngIf="isOpenCreateUserDialog"
        [title]="'Creacíon de usuario'"
      >
        <div class="dialogUsers">
          <app-input
            placeholder="Nombre"
            type="text"
            [control]="createUser.get('name')"
            [required]="true"
            [error]="
              createUser.get('name').invalid && createUser.get('name').touched
            "
            color="bg-slate-200/50"
          />
          <div class="">
            <app-input
              placeholder="Contraseña"
              type="password"
              [control]="createUser.get('password')"
              [required]="true"
              [error]="
                createUser.get('password').invalid &&
                createUser.get('password').touched
              "
              color="bg-slate-200/50"
            />
            <div
              *ngIf="
                createUser.get('password').errors &&
                createUser.get('password').dirty
              "
            >
              <p
                class="text-xs font-thin text-red-500 flex items-start"
                *ngIf="createUser.get('password').hasError('minlength')"
              >
                Minimo 6 Caracteres
              </p>
            </div>
          </div>
        </div>
        <div class="dialogUsers2">
          <app-input
            placeholder="ID"
            type="text"
            [control]="createUser.get('userName')"
            [required]="true"
            [error]="
              createUser.get('userName').invalid &&
              createUser.get('userName').touched
            "
            color="bg-slate-200/50"
          />
          <app-input
            placeholder="E-mail"
            type="email"
            [control]="createUser.get('email')"
            [required]="true"
            [error]="
              createUser.get('email').invalid && createUser.get('email').touched
            "
            color="bg-slate-200/50"
          />
        </div>
        <app-select
          [control]="createUser.get('permission')"
          [options]="permissions"
          placeholder="Seleccio"
          [optionsSelected]="createUser.get('permission').value"
          [multiple]="true"
          labelKey="name"
        ></app-select>

        <div class="flex justify-end" footer>
          <app-button
            (click)="closeAdd()"
            color="bg-red-500"
            [border]="'large'"
            class="mr-2"
            >Cerrar</app-button
          >
          <app-button
            color="bg-lime-700/50"
            [disabled]="createUser.invalid"
            [border]="'large'"
            class="mr-2"
            >Crear</app-button
          >
        </div>
      </app-dialog>
    </form>
  </div>
  <app-pagination
    [pageActual]="pageActual"
    [limit]="limit"
    [total]="totalData"
    (pageChange)="changePage($event)"
  ></app-pagination>
  <app-snackbar [background]="option" *ngIf="isCreatedUser">
    <div header></div>
    <div>
      <h1>{{ mensage }}</h1>
    </div>
  </app-snackbar>
</div>
