<div class="mx-20 my-5">
  <h3 class="font-thin text-gray-800">Gestion de Usuarios</h3>
  <div
    class="flex flex-row justify-end mx-5 mb-5 sm:mx-5 md:mx-32 lg:mx-48 xl:mx-64"
  >
    <app-button (click)="clickAdd()" color="bg-stone-200/50" [border]="'full'">
      <span class="material-icons text-sky-500"> person_add </span>
    </app-button>
  </div>
  <div
    class="w-auto mx-auto sm:mx-auto sm:w-92 sm:max-w-sm sm:overflow-x-auto md:mx-auto md:w-92 md:max-w-md md:overflow-x-none lg:mx-auto lg:w-full lg:max-w-xl xl:mx-auto xl:w-full xl:max-w-2xl"
  >
    <app-table
      [headersColumn]="['Usuario', 'Email', 'Permisos', 'Registro']"
      [valueHeaders]="['name', 'email', 'permissions', 'register']"
      [bodyColumn]="listUsers"
    />
    <form [formGroup]="createUser" (ngSubmit)="register()">
      <app-dialog
        *ngIf="isOpenCreateUserDialog"
        [title]="'Creacíon de usuario'"
      >
        <div
          class="flex sm:flex-col sm:items-center md:flex-col md:items-center lg:flex-row lg:space-x-1 xl:flex-row xl:space-x-1"
        >
          <app-input
            placeholder="Nombre"
            type="text"
            [control]="createUser.get('name')"
            [required]="true"
            [error]="createUser.get('userName').invalid"
            color="bg-slate-200/50"
          />
          <div class="">
            <app-input
              placeholder="Contraseña"
              type="password"
              [control]="createUser.get('password')"
              [required]="true"
              [error]="createUser.get('password').invalid"
              color="bg-slate-200/50"
            />
            <div
              *ngIf="
                createUser.get('password').errors &&
                createUser.get('password').dirty
              "
            >
              <p
                class="text-xs font-thin text-red-500 flex items-start"
                *ngIf="createUser.get('password').hasError('minlength')"
              >
                Minimo 6 Caracteres
              </p>
            </div>
          </div>
        </div>
        <div
          class="flex sm:flex-col sm:items-center md:flex-col md:items-center lg:flex-row lg:space-x-2 xl:flex-row xl:space-x-2"
        >
          <app-input
            placeholder="ID"
            type="text"
            [control]="createUser.get('userName')"
            [required]="true"
            [error]="createUser.get('userName').invalid"
            color="bg-slate-200/50"
          />
          <app-input
            placeholder="E-mail"
            type="email"
            [control]="createUser.get('email')"
            [required]="true"
            [error]="createUser.get('email').invalid"
            color="bg-slate-200/50"
          />
        </div>
        <app-select [control]="createUser.get('permission')"></app-select>

        <div class="flex justify-end" footer>
          <app-button
            (click)="closeAdd()"
            color="bg-red-500"
            [border]="'large'"
            class="mr-2"
            >Cerrar</app-button
          >
          <app-button
            color="bg-lime-700/50"
            [disabled]="createUser.invalid"
            [border]="'large'"
            class="mr-2"
            >Crear</app-button
          >
        </div>
      </app-dialog>
    </form>
  </div>
</div>
