<div class="mx-20 my-5">
  <h3 class="font-thin text-2xl text-gray-800">Gestion de Permisos</h3>
  <div
    class="flex flex-row justify-end items-center mx-5 mb-5 sm:mx-5 md:mx-32 lg:mx-48 xl:mx-64"
  >
    <app-button
      (click)="clickPermissionAdd()"
      color="bg-stone-200/50"
      [border]="'full'"
    >
      <span class="material-icons text-blue-400"> add_task </span>
    </app-button>
  </div>
  <div [appIsLoading]="isLoading" class="tablePermissions">
    <!-- <app-spinner></app-spinner> -->

    <app-table [options]="tableOptions" [data]="listPermission">
      <ng-template appTableRow="created_at" let-row>
        {{ row.created_at | date }}
      </ng-template>
    </app-table>
    <form [formGroup]="createPermission" (ngSubmit)="permission()">
      <app-dialog
        *ngIf="isOpenCreatePermissionDialog"
        [title]="'Creacíon de Permisos'"
      >
        <div class="dialogPermissions">
          <app-input
            placeholder="Titulo"
            type="text"
            [control]="createPermission.get('title')"
            [required]="true"
            [error]="
              createPermission.get('title').invalid &&
              createPermission.get('title').touched
            "
            color="bg-slate-200/50"
          />
          <div class="">
            <app-input
              placeholder="Descripcion"
              type="text"
              [control]="createPermission.get('description')"
              [required]="true"
              [error]="
                createPermission.get('description').invalid &&
                createPermission.get('description').touched
              "
              color="bg-slate-200/50"
            />
            <div
              *ngIf="
                createPermission.get('description').errors &&
                createPermission.get('description').dirty
              "
            >
              <p
                class="text-xs font-thin text-red-500 flex items-start"
                *ngIf="
                  createPermission.get('description').hasError('minlength')
                "
              >
                Minimo 8 Caracteres
              </p>
            </div>
          </div>
        </div>

        <div class="flex justify-between p-3 space-x-2" footer>
          <app-button
            class="basis-1/2"
            [border]="'large'"
            (click)="closeAdd()"
            color="bg-blue-200"
            >Cerrar</app-button
          >
          <app-button
            class="basis-1/2"
            [border]="'large'"
            color="bg-lime-700/50"
            [disabled]="createPermission.invalid"
            >Crear</app-button
          >
        </div>
      </app-dialog>
    </form>
  </div>
  <app-pagination
    [pageActual]="pageActual"
    [limit]="limit"
    [total]="totalData"
    (pageChange)="changePage($event)"
  ></app-pagination>
  <app-snackbar [background]="option" *ngIf="isCreatedPermission">
    <div header></div>
    <div>
      <h1>{{ mensage }}</h1>
    </div>
  </app-snackbar>
</div>
