<button
  [disabled]="disabled"
  [ngClass]="{
    'rounded-sm': border === 'small',
    'rounded-md': border === 'medium',
    'rounded-lg': border === 'large',
    'rounded-full': border === 'full',
    'font-thin': font === 'thin',
    'font-extraligth': font === 'extraligth',
    'font-light': font === 'light',
    'font-normal': font === 'normal',
    'font-medium': font === 'medium',
    'font-semibold': font === 'semibold',
    'font-bold': font === 'bold',
    'font-extrabold': font === 'extrabold',
    'hover:bg-blue-200': hover === 'normal',
    'text-gray-300': disabled,
    'hover:bg-red-500': hover === 'logOut',
    borderRing: ring
  }"
  class="flex justify-center w-auto text-sm text-center p-2.5 mb-0.5"
  [class]="currentColor"
>
  <ng-content></ng-content>
</button>
