<!--Menu no expandido -->
<nav *ngIf="!isNavBarExpanded; else navExpanded" class="noExpanded">
  <img src="assets/logo-op2.png" alt="logo" class="h-12 my-8" />

  <ul
    *ngFor="let item of listRoutes"
    class="my-4 flex flex-col justify-center items-center"
  >
    <li>
      <p class="titleItems">
        {{ item.textShort }}
      </p>

      <ul
        class="my-2 flex justify-center items-center"
        *ngFor="let text of item.routes"
      >
        <app-button
          (click)="toggleNavBar()"
          [border]="'full'"
          color="bg-transparent"
          [font]="'thin'"
          [hover]="'normal'"
        >
          <span class="material-icons-outlined text-gray-500">{{
            text.icon
          }}</span>
        </app-button>
      </ul>
    </li>
  </ul>

  <app-button
    (click)="toggleDialog()"
    [border]="'full'"
    color="bg-transparent"
    class="mt-10"
    [hover]="'normal'"
  >
    <span class="material-icons text-center text-gray-500">logout</span>
  </app-button>

  <app-button [border]="'full'" color="bg-transparent" [hover]="'normal'">
    <span class="material-icons text-center text-gray-500">account_box</span>
  </app-button>
  <app-button
    (click)="toggleNavBar()"
    [border]="'full'"
    color="bg-transparent"
    [hover]="'normal'"
  >
    <span class="material-icons text-center text-gray-500">menu</span>
  </app-button>
</nav>
<!--Menu expandido -->
<ng-template #navExpanded>
  <nav class="expanded">
    <div class="boxExpanded">
      <img src="assets/logo-op2.png" alt="logo" class="h-12 shrink-0" />
      <div class="text-center sm:text-left">
        <h1
          class="sm:text-sm md:text-base lg:text-base xl:text-base font-semibold"
        >
          Bienvenido
        </h1>
        <p
          class="font-medium text-gray-500 text-center sm:text-sm md:text-base lg:text-base xl:text-lg"
        >
          {{ userName }}
        </p>
      </div>
    </div>
    <ul *ngFor="let item of listRoutes" class="items-start my-2">
      <li class="titleItemsExpanded">
        {{ item.section }}
      </li>

      <li *ngFor="let text of item.routes" class="my-5">
        <div
          class="mx-2 flex basis-full bg-transparent hover:bg-blue-200 rounded-lg"
        >
          <app-button
            [routerLink]="text.route"
            [font]="'normal'"
            color="bg-transparent"
          >
            <span
              class="inline-block align-middle material-icons-outlined mx-3"
              >{{ text.icon }}</span
            >
            {{ text.text }}</app-button
          >
        </div>
      </li>
    </ul>
    <div class="buttonExpanded">
      <span
        class="inline-block align-middle material-icons-outlined mx-5 text-start my-auto"
        >logout</span
      >
      <app-button
        [border]="'large'"
        color="bg-transparent"
        font="normal"
        (click)="toggleDialog()"
      >
        Cerrar Sesion
      </app-button>
    </div>
    <div class="buttonExpanded">
      <span
        class="material-icons-outlined inline-block align-middle mx-5 text-center my-auto"
        >account_box</span
      >
      <app-button
        [border]="'large'"
        color="bg-transparent"
        font="normal"
        (click)="toggleNavBar()"
      >
        Cuenta
      </app-button>
    </div>
    <div class="buttonExpandedClose">
      <app-button
        [border]="'large'"
        color="bg-transparent"
        font="normal"
        (click)="toggleNavBar()"
      >
        <span class="text-center material-icons-outlined">close</span>
      </app-button>
    </div>
  </nav>
</ng-template>
<app-dialog *ngIf="isDialogOpen" [title]="'Cerrar Sesion?'">
  Seguro desea cerrar sesion?
  <div class="flex justify-end space-x-3 m-3" footer>
    <app-button
      (click)="toggleDialog()"
      [border]="'large'"
      color="bg-stone-200/50"
    >
      <span class="material-icons text-center my-auto mr-1.5">close</span>
      Cancelar</app-button
    >

    <app-button (click)="signOut()" color="bg-blue-200" [border]="'large'">
      <span class="material-icons text-center my-auto mr-1.5">logout</span>
      Cerrar Sesion</app-button
    >
  </div>
</app-dialog>
