.paginationTab{
    @apply
    
    flex 
    flex-row 
    items-center 
    justify-evenly 
    mx-auto 
    sm:max-w-sm 
    
    md:max-w-md
    md:mx-auto 
    lg:max-w-lg 
    xl:max-w-xl 
    bg-transparent 
    rounded-lg 
    ring-offset-2 
    ring-2 
    ring-emerald-500/50 
    my-5 
    p-0.5
}